<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta charset="UTF-8">
    <title>{% block title %}Adaptive Auth System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="{% block body_class %}{% endblock %}">
    <nav class="navbar">
        <span class="brand">AI Adaptive Authentication</span>
        <div>
            <a href="{{ url_for('user.home') }}">Home</a>
            <a href="{{ url_for('user.dashboard') }}">Dashboard</a>
            <a href="{{ url_for('user.security') }}">Security</a>
            <a href="{{ url_for('user.login_history') }}">Login History</a>
            <a href="{{ url_for('admin.dashboard') }}">Admin</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
