<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head> <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<body class="page-otp">
<main class="container auth-box">
    <h2>OTP Verification</h2>
    <p>{{ message }}</p>
    
    <form method="POST" action="{{ url_for('auth.verify_otp_route') }}">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <label>Enter OTP</label>
        <input type="text" name="code" required>
        <button type="submit">Verify</button>
    </form>
</main>
<script src="{{ url_for('static', filename='js/otp.js') }}"></script>
</body>
</html>
